In [5]:
import os
import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold
from packages.data import LocalDataLoader

In [2]:
dataset_path = os.path.join(
    os.sep, 'workspace','CERN','data',
    'data17_13TeV.AllPeriods.sgn.probes_lhmedium_EGAM1.bkg.VProbes_EGAM7.GRL_v97'
)
data_loader = LocalDataLoader(dataset_path)
data_df = data_loader.load_data_df(columns=['id'])
data_df = data_df.rename({'id':'old_id'}, axis='columns')
data_df['id'] = 0.0
data_df['ifold'] = 0.0
data_df

            old_id   id  ifold
0                0  0.0    0.0
1                1  0.0    0.0
2                2  0.0    0.0
3                3  0.0    0.0
4                4  0.0    0.0
...            ...  ...    ...
39863774  39863774  0.0    0.0
39863775  39863775  0.0    0.0
39863776  39863776  0.0    0.0
39863777  39863777  0.0    0.0
39863778  39863778  0.0    0.0

[39863779 rows x 3 columns]

In [7]:
n_samples = len(data_df)
n_folds = 10
cv = StratifiedKFold(n_splits=n_folds, random_state=512, shuffle=True)
ifold = 0.0
for train_idx, val_idx in cv.split(data_df.values[:,0], data_df.values[:,1]):
    print(f'Adding fold {ifold}')
    data_df.loc[val_idx, 'ifold'] = ifold
    new_ids = np.arange(ifold, n_samples, n_folds)
    data_df.loc[val_idx, 'id'] = new_ids
    ifold += 1

Adding fold 0.0
Adding fold 1.0
Adding fold 2.0
Adding fold 3.0
Adding fold 4.0
Adding fold 5.0
Adding fold 6.0
Adding fold 7.0
Adding fold 8.0
Adding fold 9.0

In [13]:
(data_df['id']%n_folds == data_df['ifold']).all()

True